body {
  font-family: "Montserrat", sans-serif;
  background-color: #b57edc;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ccccff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/* Main content */

.main-content {
  padding: 88px;
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

/* About me */

.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}

.about-me-container {
  margin-bottom: 64px;
}

/* Projects */

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-list {
  padding: 0 0 0 16px;
  margin: 0;
}

.project-container {
  margin: 0 0 48px 0;
}
.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}

/* Work experience */

.work-experience-container {
  margin-bottom: 44px;
}

.work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.work-experience-compani {
  color: #6d9bf5;
}

.work-experience-place {
  margin-bottom: 16px;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
  margin: 12px 0 8px 0;
}

.work-period-item {
  color: #000000;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.work-duties-list {
  margin: 0 0 0 16px;
  padding: 0;
}

/* Education */

.education-container {
  margin-bottom: 44px;
}

.education-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 12px 0 12px 0;
}

.education-experience-place {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  margin: 12px 0 12px 0;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #000000;
  margin: 12px 0 0 0;
}

/* Sidebar */

.sidebar {
  width: 370px;
  background: #afeeee;
}

.my-photo {
  margin-top: 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
  margin: 48px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

/* Contacts */
.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  margin: 0px;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #161d2a;
}

.contacts-email {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #2979ff;
}

/* Skills */

.skills-list {
  margin: 0;
  padding: 0 0 0 20px;
}

.skills-list-item {
  color: #6d9bf5;
}
.skills-list-text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #161d2a;
  margin-bottom: 8px;
  margin: 0 100px 0 0;
}
